/* Login page */
.body {
  width: 88vw;
  height: 76vh;
  background-color: rgb(211, 211, 211);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
}
.head1 {
  padding: 7px;
}
.d1 {
  width: 40vw;
  height: 60vh;
  background-color: rgb(255, 255, 255);
}
.container {
  width: 30vw;
  height: 60vh;
  background-color: white;
  justify-self: center;
}
.username {
  width: 30vw;
  border-color: rgb(1, 255, 1);
  height: 5vh;
}
.password {
  width: 30vw;
  border-color: rgb(0, 255, 26);
  height: 5vh;
}
.checkbox {
  display: flex;
  width: 30vw;
  justify-content: space-between;
}
.login-btn {
  width: 9vw;
  height: 7vh;
  background-color: rgb(0, 0, 0);
  color: white;
  border-radius: 30px;
}

/* Style sheet of Navbar */

.navbar {
  background-color: rgb(0, 21, 255);
  width: 100vw;
  height: 10vh;
}

.ulelements {
  display: flex;
  align-items: center;
}

.ulelements li {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  margin: 10px;
  width: 5vw;
}

.ulelements li:hover {
  background-color: yellow;
}

/* New Registration CSS*/

.body1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 88vw;
  height: 76vh;
  padding: 5%;
}
h1 {
  justify-self: center;
}
.container1 {
  background-color: rgb(211, 210, 210);
  width: 34vw;
  height: 68vh;
  justify-self: center;
  align-self: center;
  border: 2px solid rgb(0, 0, 0);
}
.radio-class {
  display: flex;
  justify-content: space-around;
}
.radio-btn {
  background-color: rgb(19, 161, 255);
}

.reginfo {
  display: grid;
  justify-content: center;
  padding: 7%;
}
.reginfo1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20vw;
  /* border-color: rgb(1, 255, 1); */
  height: 5vh;
  margin: 5px;
  margin-left: 0px;
}
.reg-icons {
  display: flex;
  align-items: center;
}
.App {
  width: 3vw;
  height: 5vh;
  background-color: rgb(19, 161, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  /* border-color: rgb(1, 255, 1);
  border: 2px; */
  border: 1px solid black;
}
.register-btn {
  width: 9vw;
  height: 7vh;
  /* background-color: antiquewhite; */
  background-color: rgb(19, 161, 255);
  border-radius: 30px;
  color: white;
}
#register-btn {
  display: flex;
  justify-content: center;
}
.register-btn:hover {
  width: 9vw;
  height: 7vh;
  color: black;
  background-color: rgb(146, 218, 146);
  border-radius: 30px;
}
